 {{>footer}}
<body>
    <main>
        <div class="container" id="cont-index">
            <div class="row">
                <div class="col">
                    <div class="container-fluid p-4">
                        <div class="row">
                            {{#each articulo}}
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <center>
                                                <h3>
                                                    {{categoria}}
                                                </h3>
                                            </center>
                                        </div>
                                        <div class="form-group">
                                            <img src="{{img}}" alt="{{nombre}}" height="150px" width="190px">
                                        </div>
                                        <div class="form-group">
                                            <center>
                                                <h2>{{nombre}}</h2>
                                            </center>
                                        </div>
                                        <div class="form-group">

                                            <a href="/GowPlay/delete/{{id}}" class="btn btn-danger d-block">
                                                ELIMINAR </a>
                                            <br>
                                            <a href="/GowPlay/edit/{{id}}" class="btn btn-twitter d-block">
                                                EDITAR </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            {{else}}
                            <div class="col-md-4 mx-auto">
                                <div class="car card-body text-center">
                                    <img src="/img/Imagen3.png" alt="GowPlay" width=" 230px" height="230px">
                                    <h3> Aun no publicas ningun Articulo</h3>
                                </div>
                                <div class="car card-body text-center">
                                    <a class="btn btn-primary " data-toggle="modal" data-target="#agregar">Agregar</a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>